// .menu {
//     position: fixed;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     z-index: $z-index-top + 1;
//     width: 300px;
//     margin-left: 0;
//     background-color: #fff;
//     transition: transform 0.2s ease-in-out;
// }

// .is-menu-hidden {
//     transform: translate(-300px);
// }

.main-menu-left {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: $z-index-top + 1;
    width: 300px;
    margin-left: 0;
    background-color: #fff;
    transition: transform 0.2s ease-in-out;
}

.is-main-menu-left-hidden {
    transform: translate(-300px);
}